.counter{
    margin-top: 40px;
    width: 100%;
}

.single-counter{
    width: 80%;
    border: 1px solid rgb(209, 206, 206);
    margin: auto;
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;
}

button{
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.counter-name{
    font-size: 30px;
    font-weight: 450;
}



